.grid {
    padding: 5px;
    border: 1px solid #d9d9d9;
    .grid-top {
        position: relative;
        background: #2db7f5;
        .text {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            margin-top: -18px;
            text-align: center;
            color: #fff;
            z-index: 9;
        }
        .img{
            position: relative;
            width: 100%;
            overflow: hidden;
            background-size: 100% 100%;
            z-index: 99;
        }
        .mask {
            position: absolute;
            left: 0;
            top: 0;
            background: url('http://img.mockuai.com/tms/2016/10/20/upload_222d26b4de29eb4394fbfc6a2e932bc7.png') no-repeat center;
            width: 100%;
            display: none;
            z-index: 999;
        }
    }
    .grid-bottom {
        p {
            overflow: hidden;
            line-height: 18px;
            height: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &.price {
                color: #f00;
            }
        }
    }
    .grid-task {
        position: relative;
        overflow: hidden;
        background: #facfd4;
        .mark {
            position: absolute;
            left: -36px;
            width: 0;
            height: 0;
            border-left: 36px solid transparent;
            border-right: 36px solid transparent;
            border-top: 36px solid #ec4054;
            span {
                position: absolute;
                left: 4px;
                top: -34px;
                color: #fff;
                font-size: 12px;
                font-weight: bold;
            }
        }
        .gift {
            position: absolute;
            height: 0;
            width: 70%;
            padding-top: 70%;
            top: 50%;
            left: 50%;
            margin-top: -55%;
            margin-left: -35%;
            background: url('http://img.mockuai.com/tms/2016/11/9/upload_fe6f17a6f95f6fb511cf052f1a4ca76c.png') no-repeat center;
            background-size: 100% 100%;
        }
        .describe {
            position: absolute;
            width: 70px;
            bottom: 8px;
            left: 50%;
            margin-left: -35px;
            p {
                text-align: center;
                color: #fe142f;
                line-height: 16px;
                font-size: 10px;
                -webkit-transform: scale(0.8);
            }
            .slogan {
                border-top: 1px solid #fe142f;
                border-bottom: 1px solid #fe142f;
            }
        }
    }
}
